.table {
  position: relative;
  table-layout: fixed; // border-collapse: collapse;
  width: 70vw;
  overflow: hidden;
  // border: 1px solid $base-font-color;
  margin: 0 auto;
  margin-top: 100px;
  user-select: none;
  @include fontSet(kr, $small-font-size, $base-font-color);

  &__head {
    width: 100%;
    padding: 40px;
    @include fontSet(kr, $base-font-size, $base-font-color);
    &th {
      margin: 10px;
    }
  }
  &__body::before {
    content: "-";
    display: block;
    line-height: 1rem;
    color: transparent;
  }
  &__row {
    border: 1px solid $bold-gray-color;
    width: 100%;
  }
  &__data {
    // border: 1px solid $base-font-color;
    // display: table-row;
    height: 0;
    width: 40%;
    padding: 0 20px 0;

    &--add {
      max-width: 80vw;
      display: flex;
      overflow-x: auto;
    }
  }
  &__title {
    table-layout: fixed; // border-collapse: collapse;
    width: 100px;
    text-align: left;
    vertical-align: middle;
    padding-left: 30px;
    border: 1px solid $bold-gray-color;
  }
  &__cate {
    width: 95%;
    display: flex;
  }
  &__input {
    margin: 10px;
    flex-grow: 2;
    // width: 95%;
    &--left {
      text-align: left;
      width: 40%;
    }
  }
  &__select {
    margin: 10px;
  }
  &__textarea {
    border: 1px solid $bold-gray-color;
    width: 95%;
    border: none;
    white-space: pre-wrap;
    &-item {
      width: 100%;
      margin: 10px;
      resize: none;
    }
  }
}

.form {
  &__input {
    margin: 10px;
    border: none;
  }

  &__button:disabled {
    background-color: $gray-color;
    color: $base-bg-color;
    opacity: 1;
    cursor: not-allowed;
  }
}
