@keyframes hoverOpa {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

.content {
  margin: 0 auto;
  padding: 48px 3vw 0 calc(4vw + 200px);
  // min-height: 600px;
  display: block;
  position: relative;
  box-sizing: border-box;
  &__wrapper {
    width: 100%;
    text-align: center;
  }
}

.banner {
  display: flex;
  margin: 5rem auto;
  cursor: pointer;

  // width: 70vw;
  &__wrapper {
    margin: 1rem;
    position: relative;
    width: 100%;
    max-width: 100%;
    background-size: cover;
    &:hover {
      animation: hoverOpa 1.5s forwards;
    }
  }

  &__img {
    width: 100%;
    display: block;

    // position: absolute;
  }
  &__text {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 7vw;
    text-transform: uppercase;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    color: white;
    user-select: none;
    z-index: 1;
  }
}
