.img-add-box {
  flex-shrink: 0;
  border: 1px solid $bold-gray-color;
  color: $bold-gray-color;
  border-radius: 4px;
  user-select: none;

  // height: 100%;
  margin: 10px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  &__plus {
    font-size: 100px;
  }
  &__label {
    position: relative;
    margin-top: 20px;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 100px;
  color: $gray-color;
}

.img-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & p {
    padding: 10px 0;
    padding-right: 10px;
    margin-bottom: 20px;
    background-color: $gray-color;
    // height: 50px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 150px;
    height: 250px;
    background-size: cover;
    justify-content: space-around;
  }
  & img {
    width: 100%;
    max-height: 200px;
  }
  &__btn {
    margin: 15px 10px;
  }
}
