.layout {
  &__wrapper {
    position: relative;
    z-index: 100;
  }
}

.head {
  display: block;
  background-color: $base-bg-color;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  z-index: 9999;
  &__list {
    padding: 1rem;
    justify-content: flex-end;
  }
  &__item {
    padding-left: 15px;
    display: inline-block;
  }
  &__link {
    text-decoration: none;
    @include fontSet(kr, $small-font-size, $base-font-color);
    &:hover {
      @include fontSet(kr, $small-font-size, $base-font-hover-color);
    }
  }
}

.aside {
  left: 4vw;
  top: 45px;
  display: block;
  width: 200px;
  height: 100vh;
  background-color: $base-bg-color;
  &__logo-wrapper {
    width: 160px;
    overflow: hidden;
    margin: 0 auto;
  }
  &__logo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.nav {
  &__wrapper {
    margin-top: 2rem;
  }
  &__list {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  &__item {
    line-height: 2rem;
  }
}

.util-nav {
  &__wrapper {
    margin-top: 3rem;
  }
  &__list {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  &__item {
    line-height: 1.5rem;
  }
  &__link {
    @include fontSet(kr, $small-font-size, $base-font-color);
    &:hover {
      @include fontSet(kr, $small-font-size, $base-font-hover-color);
    }
  }
}

.detail-nav {
  position: fixed;
  right: 0;
  top: 50px;
  width: 30vw;
  min-height: 60vh;
  border: 1px solid black;
  border-radius: 10%;
  @include fontSet(kr, $middle-font-size, $base-font-color);
  &__wrapper {
    margin: 10px;
    background-color: aquamarine;
  }
  &__title {
    margin-bottom: 50px;
  }
}

.input {
  display: flex;
  flex-direction: column;
  &__item {
    & label {
      display: inline-block;
      width: 40%;
    }

    & select {
      position: absolute;
      right: 1rem;
    }
  }
}

.button {
  width: 100%;
  margin-top: 50px;
  & button {
    width: calc(100% / 2);
    height: 50px;
  }
}
