.slider {
  margin: 0 auto;
  margin-top: 2rem;
}

.swiper {
  height: 80%;
  &-wrapper {
    background-size: cover;
  }
  &-slide {
    max-height: 70vh;
    & img {
      display: block;
      margin: 0 auto;
      overflow: hidden;
    }
  }
}
