.slider {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.swiper {
  width: 100%;
  &-slide {
    // width: 30px;
    // height: 300px;
    & img {
      max-height: 735px;
      display: block;
      width: 90%;
      margin: 0 auto;
    }
  }
}
